.container {
    position: relative;
    width: 90%;
    left: 5%;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 0 8px rgb(180, 180, 180), /* Horizontal offset */
                -2px 0 8px rgb(180, 180, 180); /* Horizontal inset */
    overflow: scroll;
}

.container-header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(19, 132, 245);
    color: #ffffff;
    padding-bottom: 15px;
    padding-top: 15px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.topContent {
    padding: 5px;
    padding-top: 10px;
    text-align: center;
    border-bottom: 2px solid black;
}

.top-container {
    position: relative;
    padding: 5px;
    width: 420px;
    display: grid;
    grid-template-columns: 315px 80px;
    align-items: center;
}

.top-container-content {
    padding: 2px;
}

.task-container {
    padding: 5px;
}

.task {
    border-radius: 6px;
    border-top: 1px solid rgb(178, 178, 178);
    box-shadow: 0 1px 4px rgb(150, 149, 149);
    background-color: #fff;
    margin-top: 7px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

.task-text {
    padding: 10px;
}

.add-task {
    width: 300px;
    height: 100px;
}

.btn {
    padding: 5px 15px;
    background-color: rgb(19, 171,19);
    color: #fff;
    border: 1px solid rgb(19, 171, 19);
}

.delete { 
    padding: 8px 15px;
    background-color: rgb(228, 7, 7);
    color: #fff;
    border: 0;
    border-radius: 8px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
    }

    .container {
        position: static;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }
}